body {
    color: #F0EFEA;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h2 {
    font-family: 'Cardo', serif;
    color: #F0EFEA;
}

h1 {
    font-family: 'Cardo', serif;
    color: #8B634D;
}

h3 {
    font-family: 'Cardo', serif;
    color: #555252;
}

h5 {
    font-family: 'Cardo', serif;
    font-weight: bold;
    margin-top: 10px;
}

i {
    color: #F0EFEA;
}

.titles {
    font-family: 'Cardo', serif;
    color: #8B634D;
}

header {
    background-color: #C5B4A0;
}

.navbar-brand {
    font-family: 'Cardo', serif;
    color: #F0EFEA;
    font-weight: bold;
}

.navbar-brand:hover {
    font-family: 'Cardo', serif;
    color: #F0EFEA;
    font-weight: bold;
    text-decoration: none;
}

.input-group-text a:hover {
    font-weight: 400;
    text-decoration: none;
}

header .navbar-nav a:hover {
    border-bottom: 1px solid #F0EFEA;
}

a:hover {
    font-weight: bold;
}

.nav-item a,
a {
    text-decoration: none;
    color: #F0EFEA;
}

.nav-item a:hover {
    color: #F0EFEA;
    font-weight: bold;
}

.dropdown-menu {
    background-color: #C5B4A0;
    border: 0;
}

.dropdown-menu li a:hover {
    background-color: transparent;
}

.card {
    background-color: #C5B4A0;
}

.card a {
    background-color: transparent;
}

.card a:hover {
    font-weight: 300;
}

.card-footer a:hover {
    font-weight: 500;
}

/* transition */

main {
    color: #555252;
}

main a {
    color: #555252;
}

main a:hover {
    color: #555252;
    font-weight: 300;
    text-decoration: underline;
}

footer {
    background-color: #C5B4A0;
}

footer input {
    background-color: transparent;
    border: 1px solid #F0EFEA;
}

button {
    color: #C5B4A0;
    border: 0;
    text-decoration: underline;
    /* border: 1px solid #8B634D;
    border-radius: 15px; */
    padding: 5px 20px;
    margin-top: -25px;
}

button:hover {
    color: #555252;
}

.card-body h6 {
    font-family: 'Cardo', serif;
    font-weight: bold;
    color: #8B634D;
    font-size: 1.25rem;
}

li span {
    float: right;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: white;
}